<!DOCTYPE html>
<html>
<head class="bg-1">
    <title>Weather</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <style>
        .bg-background {
            background-color: #04304A;
        }

        .bg-card-color {
            background-color: #053B5D;
        }
        .myChart {
            height: 100%;
            width: 100%;
         }


    </style>
</head>

<body>


<div class="container-fluid bg-background">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-content-center">
            <h1 class="text-white" style="padding: 30px">Weather App</h1>
        </div>
    </div>

    <br><br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-content-center">


            {% if description %}
            <div class="card text-white bg-card-color  border border-dark" style="width: 18rem">
                <div class="card-header mb-3 text-center">
                    Current Weather
                </div>
                <div>
                    <h5 class="mb-1 text-center">{{ name }}, {{ country }}
                    </h5>
                    <h6 class="mb-2 text-center">{{ date }}</h6>
                    <h1 class="mb-3 text-center">{{ temp }}<span> &#8451</span></h1>
                    <p class="mb-2 text-center"> Description : {{ description }}<img
                            src="https://openweathermap.org/img/w/{{ icon }}.png"></p>
                </div>
            </div>
            {% else %}
            <h1 class="text-white"> Weather Data Not Found </h1>
            {% endif %}


        </div>
    </div>

    <br><br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-content-center ">
            <form class="form-inline" method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        {{ form.post }}
                    </div>
                    {% for error in form.post.errors %}
                    <p class="help is-danger">{{ error }} </p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn  text-white  bg-card-color ">Get Weather</button>
            </form>
        </div>
    </div>
    <br><br>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-content-center">
            <h4 class="text-white" style="padding: 30px">Daily Weather Forecast</h4>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-content-center">
            {% if daily_forecast %}
            {% for data in daily_forecast %}

            <div class="card text-white bg-card-color mb-3 border border-dark mx-auto" style="width: 18rem">
                <div class="card-header">
                    <h6 class="mb-2 text-center">{{ data.Date }}</h6>
                </div>
                <div>
                    <p class="mb-2 text-center"> Description : {{ data.description }} <img
                            src="https://openweathermap.org/img/w/{{ icon }}.png"></p>
                    <p class="mb-3 text-center"> Temp Median : {{ data.Temp_median }}<span> &#8451</span></p>
                    <p class="mb-3 text-center"> Low : {{ data.Low }}<span> &#8451</span></p>
                    <p class="mb-3 text-center"> High : {{ data.High }}<span> &#8451</span></p>
                    <p class="mb-3 text-center"> Humidity : {{ data.humidity }} %</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-white"> Weather Forecast Data Not Found </h1>
            {{daily_forecast.error}}
            {% endif %}
        </div>

        <div class="container h-100">
            <div class="row h-100 justify-content-center align-content-center">
                <h3 class="text-white" style="padding: 30px">Weather App By Thanyani Tshikonwani</h3>
            </div>
        </div>

</body>
</html>
